name: Publish Plugin

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    name: Build and Publish Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Prepare Signing Files
        run: |
          echo "${{ secrets.CERTIFICATE_CHAIN }}" > certificateChain.pem
          echo "${{ secrets.PRIVATE_KEY }}" > privateKey.pem

      - name: Build and Publish
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
          CERTIFICATE_CHAIN_PATH: ${{ github.workspace }}/certificateChain.pem
          PRIVATE_KEY_PATH: ${{ github.workspace }}/privateKey.pem
        run: ./gradlew publishPlugin